body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: #fff;
    font-family: sans-serif;
  
}

.striped-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: linear-gradient(-45deg, #000 25%, #ff6d00 25%, #ff6d00 50%, #000 50%, #000 75%, #ff6d00 75%, #ff6d00);
    background-size: 50px 50px;
    animation: move 1s linear infinite;
    z-index: -1;
}

@keyframes move {
    from { transform: translate(0, 0); }
    to { transform: translate(-50px, -50px); }
}

.box {
    padding: 2em;
    margin: 2em;
    min-width: none;
    max-width: 1080px;
    width: auto;
    opacity: 0.5;
    transform: translateY(40px), scale(0.5);
    background-color: rgba(50, 50, 50, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.title-box {
  animation: fadeIn 0.5s forwards;
}

.subhead-box {
    animation: fadeIn 0.75s forwards;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(105px, 1fr));
    gap: 2em;
  padding: 2em;
  margin: auto;
    animation: fadeIn 1s forwards;
    width: 90%;
    min-width: 300px;
    max-width: 1080px;
    position: relative;
}

.thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, z-index 0.3s ease;
}

.thumbnail img {
    position: relative;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.thumbnail:hover {
    position: relative;
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
        transform: scale(1);
    }
}

h1, h2, h3 {
    margin: 0;
    color: #ff6d00;
    padding: 0em;
    display: block;
}

h1 {
    font-family: 'Shrikhand', serif;
    font-size: 5em;
}

h2 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 3.5em;
    letter-spacing: .05em;
}

h3 {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 3em;
  font-weight: 700;
}

.third-subhead, .third-container {
    perspective: 1000px;
    position: relative;
    width: auto;
    height: 300px;
    margin: 20px;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.scrolled .third-subhead, .scrolled .third-container {
    opacity: 1;
    transform: translateY(0);
}

.nav-box {
  width: fit-content;
    margin: 20px 0;
  animation: fadeIn 0.6s forwards;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
    justify-content: center;
   font-size: 2em;
}
nav a {
    color: #ff6d00;
    text-decoration: none;
    padding: 5px 15px;
    border: 3px solid #ff6d00;
    border-radius: 8px;
    transform: scale(1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    box-shadow: none;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 400;
}

nav a:hover {
    background-color: #ff6d00;
    color: #000;
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
html {
    scroll-behavior: smooth;
}

.back-to-top {
    position: fixed;
    bottom: 100px;
    right: 200px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #ff6d00;
    padding: 20px 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1000;
    border: none;
}

.back-to-top.visible {
    opacity: 1;
    visibility: visible;
}

.back-to-top:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.back-to-top::before {
    content: "↑";
    font-size: 3em;
    font-weight: bold;
}

@media (max-width: 1080px) {
  .box {
    min-width: calc(100% - 40px);
      margin: 5px 20px;
  }
    .container {
        min-width: calc(100%-40px);
      grid-template-columns: 1fr;
    }
}